* {
    Margin:0;
    padding:0;
 }
 

.fondo{
    background-color: #011817;
}

h1 {
    color: white;
    font-size: 109px;
    font-family: 'Otomanopee One', sans-serif;
    letter-spacing: 15px ;

}

ul {
    list-style: none;
    background-color:rgb(1, 243, 114);
    margin: 0 0 3% 0;
    max-height: 60px;
}

body {
    color: white;
    font-family: 'Vollkorn', serif;
    font-size: 23px;

}

.subtitulos {
    color: white;
    font-family: 'Vollkorn', serif;
    font-size: 30px;
    margin: 1% 0 1% 1%; 
    background-color: green;
    font-weight:bold ;
    width:fit-content;
}

header {
    margin: 2% 0  0 0 ;
    text-align: center;
    background-color:gray;  
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center

}


#logo{
border-radius: 20%;
border: 2px outset white;
margin: 0 0 0 1%;
}

ul li {
    display: inline-block;
    border: 2px solid rgb(13, 191, 245);
    border-radius: 5%;
    margin: 1% 0 4% 1%;
    color: white;
    font-weight:bold 
}

#banderas{
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2%;
}

/* hay q poner siempre sticky y top 0 xq sino nose peg... top 0 sirve para decir en donde queres q se pegue*/
nav{
position:sticky;
top: 0;
text-align: center;
}

.banderasSombras:hover{
    box-shadow: 5px 5px 5px 5px greenyellow;

}

.ParrafosGenerales{
    margin: 0.5%;
}

#FormularioDeContacto{
    margin: 0 5% 0.5% 0.5%;
    
}

footer{
    background-color: grey;
    text-align: center;
}



