* {
    Margin:0;
    padding:0;
 }

 body{
    background: #16222A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
 }


h1{
    color: white;
    font-size: 800%;
    font-family: 'Otomanopee One', sans-serif;
    letter-spacing: 15px ;
    grid-area: titulo;
    padding-right: 1%;
    display: flex;
    justify-content:center;
    justify-content: flex-end;
    align-items: flex-end;

}

header {
    margin: 2% 0  0 0 ;
    text-align: center;
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;  
    display:grid;
    grid-template-areas:
    "titulo logo";

    grid-template-columns: 60% 30%;
}


#logo{
     border-radius: 20%;
        border: 2px outset white;
        margin: 0 0 0 1%;
   
}

#contenedorLogo{
    grid-area: logo;
    display: flex;
    justify-content:center;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 1% 0;
}



section{
    display:flex;
    justify-content: center;
    margin-top: 5%;
    
}

.banderas{
    margin-right: 5%;
    text-align: center;
    font-size: 30px;
    font-family: 'Otomanopee One', sans-serif;
    color: white;
}

#banderaArg{
    margin-left: 3%;
}

section div img:hover{
    border: 8px inset rgb(199, 248, 85);
}

#botonInfo{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-right: 8%;

}

.botonInfo-class{
    text-align: center;
    font-size: 23px;
    text-transform: uppercase;
    color: white;
    width: 150%;
    height: 130%;

}

.parrafosEstadios{
    margin-top: 1%;
}

footer p{
    font-family: 'Prompt', sans-serif;
    margin: 0.5% 0.5% 0.1% 1%;
    font-size: 25px;
    color: white;
    text-align: center;

}

footer{
    margin-top: 3%;
    margin-bottom: 0%;
      background-color: gray;
}

#contenedorBanderas{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

/* media queries*/

@media only screen and (max-width: 780px) 
{
    h1{
    font-size: 42px;
    letter-spacing: 3px ;}

    #logo{
        width: 80px;
        height: 55px;
    }

    header {
        grid-template-columns: 70% 20%;
    }

    #contenedorBanderas{
        margin-top: 6%;
        margin-bottom: 6%;
        display: block;
        justify-content: space-between;
        }

    section div img {
        width: 250px;
        height: 150px ;
    }

    footer{
        margin-top: 7%;
    }

    footer p{
        font-size: 10px;
    }

    .banderas{
        font-size: 15px;
    }


    .botonInfo-class{
        margin-top: 5%;
        font-size: 10px;
        text-transform: uppercase;
        color: white;
        width: 100%;
        height: 100%;
    
    }

}